<% @Users.each do |user| %>
<ul>
  <li><%= user[:name] %></li>
</ul>
<% end %>

<div class="indexP">

  <p>
    This website is dedicated to educate, embrace, and love your natural hair texture.
  </p>

  <p>Sit amet liquorice pudding I love jujubes candy canes wafer jelly-o. Marshmallow muffin sweet roll. Cheesecake I love bear claw candy canes toffee lollipop. Bear claw tart pudding caramels. I love I love jelly chocolate cake apple pie donut I love cupcake. I love muffin cupcake dessert sweet roll fruitcake sweet chupa chups. </p>

  <p>I love soufflé liquorice. Liquorice gingerbread gummies sesame snaps brownie. Macaroon halvah chocolate. Gummies pudding pie cookie brownie toffee pudding apple pie jujubes. Sugar plum marshmallow croissant jelly beans sweet chocolate liquorice gummies. Lollipop cheesecake liquorice liquorice pudding sugar plum. Caramels cotton candy pie I love topping sweet roll sesame snaps chocolate cake. Gingerbread chocolate cake gingerbread chocolate. Topping I love macaroon icing candy jelly fruitcake. Lollipop pudding soufflé sweet roll.</p>

</div>
