<% @Users.each do |user| %>
<ul>
  <li><%= user[:name] %></li>
</ul>
<% end %>

<div class="indexP">

  <h4>
    This website is dedicated to educating, embracing, and loving our natural hair texture. From birth we were taught that our natural hair was not good enough, and that we needed to use relaxers to force our hair to act contrary to it's nature, or use flat irons to make our hair more manageable. I want this to be a place where we can realize that our hair is perfect the way it is, and learn the best way to care for our hair so that we make the best decisions concerning our hair. We do not need to conform to Eurocentric standards of beauty, we need to defy them, and break them.
  </h4>

<iframe src="//giphy.com/embed/mhCVx4ltIuIRa" width="352" height="251" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/natural-mhCVx4ltIuIRa"></a></p>

</div>

