<!-- static page with the help of toasterlovin on http://stackoverflow.com/questions/4479233/static-pages-in-ruby-on-rails, you rock! -->


<h3>What's Your Style</h3>


<form action="#" method="get" class="YouTubeSearch">
  <input name="searchfield" type="text" id="search" placeholder="type something" autocomplete="off" class="ytsearchform" />
  <input type="submit" value="Hair Tutorial" class="searchyt">
</form>

<div class="results"></div>
<pre id="response"></pre>


 <!-- <iframe src="video" title="YouTube Video Player" scr=""></iframe>>
 -->
<iframe src="https://youtu.be/fP9KHQ4omac" width=438 height=248 frameborder=0></iframe>

<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>

